<div class="about-container">
  <div class="left-section">
      <h1 class="titreGauche">PharmaHouse</h1>
      <p>
          Bienvenue sur PharmaHouse ! Nous offrons une plateforme innovante pour gérer votre santé de manière simple et efficace. Découvrez toutes nos fonctionnalités :
      </p>
      <ul>
          <li><i class="fas fa-pills"></i> Gestion des Médicaments</li>
          <li><i class="fas fa-file-alt"></i> Suivi des Ordonnances</li>
          <li><i class="fas fa-truck"></i> Commande et Livraison</li>
          <li><i class="fas fa-map-marker-alt"></i> Trouver les Pharmacies</li>
          <li><i class="fas fa-bell"></i> Rappels de Médicaments</li>
          <li><i class="fas fa-robot"></i> Chatbot Intégré</li>
          <li><i class="fas fa-exclamation-triangle"></i> Réclamations Faciles</li>
      </ul>
  </div>

  <div class="right-section">
      <h2 class="section-title">Fonctionnalités Clés</h2>
      <div class="feature-cards">
          <div class="card">
              <i class="fas fa-pills card-icon"></i>
              <h3>Gestion des Médicaments</h3>
              <p>Ajoutez, modifiez et suivez vos médicaments de manière simple.</p>
          </div>
          <div class="card">
              <i class="fas fa-file-alt card-icon"></i>
              <h3>Ordonnances</h3>
              <p>Organisez et suivez vos ordonnances avec facilité.</p>
          </div>
          <div class="card">
              <i class="fas fa-truck card-icon"></i>
              <h3>Commande en Ligne</h3>
              <p>Commandez et recevez vos médicaments directement chez vous.</p>
          </div>
          <div class="card">
              <i class="fas fa-map-marker-alt card-icon"></i>
              <h3>Pharmacies Proches</h3>
              <p>Localisez les pharmacies les plus proches en un clic.</p>
          </div>
          <div class="card">
              <i class="fas fa-bell card-icon"></i>
              <h3>Rappels</h3>
              <p>Recevez des notifications pour vos prises de médicaments.</p>
          </div>
          <div class="card">
              <i class="fas fa-robot card-icon"></i>
              <h3>Chatbot</h3>
              <p>Discutez avec notre chatbot pour obtenir de l’aide.</p>
          </div>
          <div class="card">
              <i class="fas fa-exclamation-triangle card-icon"></i>
              <h3>Réclamations</h3>
              <p>Soumettez vos réclamations facilement et rapidement.</p>
          </div>
      </div>
  </div>
</div>
