<div class="sidebar">
  <div class="sidebar-header">
    <h2>PharmaHouse</h2>
    <hr>
  </div>
  <ul class="sidebar-menu">
    <li routerLinkActive="actif" routerLink="/ordonnances">
      <i class="fas fa-tasks"></i> Mes ordonnances
    </li>


    <li routerLinkActive="actif" routerLink="/medicamentsUser">
      <i class="fa-solid fa-pills" ></i> Les médicaments
    </li>


    <li routerLinkActive="actif" routerLink="/medicaments">
      <i class="fa-solid fa-clipboard-list"></i> Gestion de Stock
    </li>

    <li routerLinkActive="actif" routerLink="/pharmaciesProches">
      <i class="fa-solid fa-location-dot"></i> Pharmacies
    </li>
    <li routerLinkActive="actif" routerLink="/recent-orders">
      <i class="fa-solid fa-bag-shopping"></i> Mes commandes
    </li>
    <li routerLinkActive="actif" routerLink="/livraisons">
      <i class="fa-solid fa-route"></i> Mes livraisons
    </li>
    <li routerLinkActive="actif" routerLink="/reclamation-list">
      <i class="fa-solid fa-box-archive"></i> Mes reclamations
    </li>

    <li routerLinkActive="actif">
      <a routerLink="/chat" class="actif">
        <i class="fa-brands fa-rocketchat"></i> Chat
      </a>
    </li>

  </ul>
</div>
